.category{
    position: relative;
    top:3vw
}
.category h1{
    font-size: 1.2vw;
    font-weight: 700;
    

    
    
}

.category h2{
    position: relative;
    font-size: 14px;

}

.categories{
    position: relative;
    top: 6vw;
}
.categories h1{
    font-size: 1.2vw;
    font-weight: 700;
    
}


.categories h2{
    position: relative;
    font-size: 14px;
}
.price{
    position: relative;
    top: 15vw;
}
.price h1{
    font-size: 1.2vw;
    font-weight: 700;
    
}

.price h2{
    position: relative;
    font-size: 14px;
}